reminder agent.json
{
  "name": "reminder agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "62205dcf-a800-4ef5-8679-26a651752b28",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA",
          "mode": "list",
          "cachedResultName": "Copy of Amit_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1943702230,
          "mode": "list",
          "cachedResultName": "Tasks Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit#gid=1943702230"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "10a2358b-ca37-40bc-aab8-76ff60aee690",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aegAVQx9ibNXndgo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc44159b-57e9-4e73-b3fe-d37830910270",
              "leftValue": "={{ $json.end_date }}",
              "rightValue": "={{ $('Schedule Trigger').item.json.timestamp }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "4786ced1-eb34-4bb0-8bd7-e61c1885b749",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "a7b61a8a-cba7-4c03-a5af-27d2d89cb272",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA",
          "mode": "list",
          "cachedResultName": "Copy of Amit_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 96729737,
          "mode": "list",
          "cachedResultName": "Team Members",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit#gid=96729737"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Employee_Name",
              "lookupValue": "={{ $json.assigned_to }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "7e34b0d8-a5ee-424a-9061-7a114d0856da",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aegAVQx9ibNXndgo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ou are a Task Reminder Agent. You write a short, professional reminder email to an employee about a task they have not yet completed. Your tone is polite, supportive, and clear — a helpful nudge, never a reprimand.\n\n## INPUTS\nYou receive one task that is due today or overdue:\n- ASSIGNEE_NAME: {{ $('Get row(s) in sheet').item.json.assigned_to }}\n- TASK_NAME: {{ $('Get row(s) in sheet').item.json.task_name }}\n- PROJECT_ID: {{ $('Get row(s) in sheet').item.json.project_id }}\n- DUE_DATE: {{ $('Get row(s) in sheet').item.json.end_date }}\n- CURRENT_DATE: {{ $today.toISODate() }}\n\n## YOUR TASK\nWrite a reminder email to ASSIGNEE_NAME about TASK_NAME.\n\nDetermine the situation by comparing DUE_DATE to CURRENT_DATE:\n- If DUE_DATE equals CURRENT_DATE: the task is due today. Frame it as a friendly heads-up.\n- If DUE_DATE is before CURRENT_DATE: the task is overdue. Mention by how many days, but stay courteous and solution-focused.\n\nThe email should:\n- Open by addressing the person by their first name.\n- State clearly which task this is about and its due date.\n- Briefly remind them what the task involves (one line, from TASK_DESCRIPTION).\n- Reference the suggested next step (NEXT_ACTION) to make it easy to act.\n- If PRIORITY is \"High\" or \"Critical\", or RISK_LEVEL is \"High\", gently convey that this one is time-sensitive — without pressure or blame.\n- Invite them to reply with a status update or to flag any blockers.\n- Close warmly and professionally.\n\n## RULES\n- Keep the body under 130 words. Be concise and respectful of their time.\n- Do not guilt-trip, scold, or use accusatory language (\"you failed to...\", \"you were supposed to...\"). Assume good intent.\n- Do not invent facts, deadlines, or details not present in the inputs.\n- Use plain, natural language. No markdown, no bullet points in the email body.\n- Sign off as \"The Project Team\" (no fake individual name).\n- Return only the structured object defined by the output schema — no commentary.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        0
      ],
      "id": "2f2e3126-0ef3-469a-9f81-8f25b473a496",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "24a83307-7aef-4c24-a084-88068cf4257c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gvfJ8dyJbhY5CnwQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"Reminder to complete your task by today\",\n  \"body\": \"Email body\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1008,
        208
      ],
      "id": "beba39be-487a-408a-82f4-aa9ca65dbcf1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet1').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "67085180-72d8-4356-a450-8a58cb6cf6a6",
      "name": "Send a message",
      "webhookId": "e7280026-4ec3-4baf-acae-a4f68ed76e0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mch7hh36KxrwNsMx",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA",
          "mode": "list",
          "cachedResultName": "Copy of Amit_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 608632469,
          "mode": "list",
          "cachedResultName": "Agent Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit#gid=608632469"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Schedule Trigger').item.json.timestamp }}",
            "agent_name": "task tracker",
            "action": "email sent",
            "project_id": "={{ $('Filter').item.json.project_id }}",
            "task_id": "={{ $('Filter').item.json.task_id }}",
            "input": "={{ $('Get row(s) in sheet1').item.json.Employee_Name }}",
            "status": "=email sent",
            "output": "={{ $('AI Agent').item.json.output.body }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        0
      ],
      "id": "6233d33e-4a4a-470d-8ebc-7da0dcd2cc13",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aegAVQx9ibNXndgo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA",
          "mode": "list",
          "cachedResultName": "Copy of Amit_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330981571,
          "mode": "list",
          "cachedResultName": "Notification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BvDnkgBK_HoSbB82WghQIFiFMRNYPLWmEZHDRWAoSkA/edit#gid=330981571"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('Filter').item.json.task_id }}",
            "project_id": "={{ $('Filter').item.json.project_id }}",
            "recipient": "={{ $('Get row(s) in sheet1').item.json.Email }}",
            "notification_type": "email",
            "message": "={{ $('AI Agent').item.json.output.body }}",
            "status": "email sent ",
            "sent_at": "={{ $('Schedule Trigger').item.json.timestamp }}",
            "created_at": "={{ $('Schedule Trigger').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "notification_id",
              "displayName": "notification_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_type",
              "displayName": "notification_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        0
      ],
      "id": "b88e31ac-da12-4957-a7c4-1c20f43306a1",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aegAVQx9ibNXndgo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "118505fb-b800-40ef-95fa-1a2ec6eb9c50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f074acac8635f0385fc2dbcec3a323a2bbcebabddf52509043a192c19e5c9cfe"
  },
  "nodeGroups": [],
  "id": "q6awm1BZewfgcMpM",
  "tags": []
}